@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat",sans-serif;
    color: #e7e7ee;
    background-color:  #21212e;
    

}

/*HEADER*/



.header-container {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}

h1{
margin-top: 200px;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
}
.social-midia{
    margin-top: 1rem;
    display: flex;
}
.social-midia a{
   
    text-decoration: none;
    color: #e7e7ee;
    padding: 1rem 4rem;
    border: 1px solid #e7e7ee;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}
a:hover{
    background-color: #d6d4d4;

}
.checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
   
}
.checkbox .trace{
    width: 50px;
    height: 2px;
   background-color: #fff0f0;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.checkbox .trace:nth-child(1){
    top: 26px;
    transform: rotate(0);
  

}
.checkbox .trace:nth-child(2){
    top: 46px;
    transform: rotate(0);
   
    
}
.checkbox .trace:nth-child(3){
    top: 66px;
    transform: rotate(0);
   
}
#toggle{
    display:none;
}
.menu {
    position: absolute;
    top: 28px;
    right: 38px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 200px;
    box-shadow: 0px 0px 0px 0px #e7e7ee;
    z-index: -1;
    transition: 400ms ease-in-out 0;


}

.menu-items{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0;
}

.menu-items ul{
    list-style-type: none;

}

.menu-items ul li a{
    margin: 10px 0;
   color: #e178fc;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px
}

#toggle:checked +.checkbox .trace:nth-child(1){

    transform: rotate(45deg);
    top: 47px;

}
#toggle:checked +.checkbox .trace:nth-child(2){
transform: translate(-100px);
width: 30px;
visibility: hidden;
opacity: 0;
}
#toggle:checked +.checkbox .trace:nth-child(3){
    transform: rotate(-45deg);
    top:48px;

}

#toggle:checked + .checkbox{
    background-color: #4a3364;
    

}

#toggle:checked ~ .menu{
box-shadow: 0px 0px 0px 100vmax #4a3364;
z-index: 1;

}

#toggle:checked ~ .menu-items{
    visibility: visible;
    opacity: 1;
}

.container{
    background-color: #ffffff;
    margin: 3 rem 0 0 0;
    height: auto;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-container{
    
    display: flex;
    margin: 3 rem 0 0 0;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    background-image:  url('./img/tcc.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.6);
    color: #ffffff;
    cursor: pointer;
    transition: 0.5 ease-in-out;

}
.card-text{
  top: 40%;
   width:40% ;
   margin-top: 7%;
   letter-spacing: 1px;
   color:#000000;
   opacity: 100%;
   font-weight: bold;
}
.card-wraper{
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
}

.card-wraper::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid #e7e7ee;
    transition: 0.5 ease-in-out;
}
.card-wraper h2{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5 ease-in-out;
}
.card-wraper p{
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5 ease-in-out;
}
.card:hover{
filter: unset;
}

.card:hover> .card-wraper::before{
    height: 280px;
    width: 280px;
    opacity: 1;
}

.card:hover> .card-wraper p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}
.footer{
    background-color: #1e1e2a;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container1{
    background-color: #ffffff;
    margin: 3 rem 0 0 0;
    height: auto;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-container1{
    
    display: flex;
    margin: 3 rem 0 0 0;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card1{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    background-image:  url('./img/power.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.6);
    color: #ffffff;
    cursor: pointer;
    transition: 0.5 ease-in-out;

}
.card-text1{
   width:40% ;
   letter-spacing: 1px;
   color:#000000;
   opacity: 100%;
   font-weight: bold;
}
.card-wraper1{
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
}

.card-wraper1::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid #e7e7ee;
    transition: 0.5 ease-in-out;
}
.card-wraper1 h2{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5 ease-in-out;
}
.card-wraper1 p{
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5 ease-in-out;
}
.card1:hover{
filter: unset;
}

.card1:hover> .card-wraper::before{
    height: 280px;
    width: 280px;
    opacity: 1;
}

.card1:hover> .card-wraper p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}
h3{
    font-size: 300%;
    color: #ebebf3;
    margin-left: 40%;
    margin-top: 20px;
    

}
.social-midia{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
margin-bottom: 3%;

}
.social-midia a{
   background-color:  #21212e;
    text-decoration: none;
    padding: 1rem 4rem;
    border: 1px solid #e7e7ee;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}
a:hover{
    background-color: #d6d4d4;

}
.container2{
    background-color: #ffffff;
    margin: 3 rem 0 0 0;
    height: auto;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color:#272741 ;
}
::-webkit-scrollbar-track{
    background-color: #535381;
    width: 50px;
}
.card-container2{
    
    display: flex;
    margin: 3 rem 0 0 0;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card2{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    background-image:  url('./img/logo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.6);
    color: #ffffff;
    cursor: pointer;
    transition: 0.5 ease-in-out;

}
.card-text2{
   
   width:40% ;
   letter-spacing: 1px;
   color:#000000;
   opacity: 100%;
   font-weight: bold;
}
.card-wraper2{
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
}

.card-wraper2::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid #e7e7ee;
    transition: 0.5 ease-in-out;
}
.card-wraper2 h2{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5 ease-in-out;
}
.card-wraper2 p{
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5 ease-in-out;
}
.card2:hover{
filter: unset;
}

.card2:hover> .card-wraper::before{
    height: 280px;
    width: 280px;
    opacity: 1;
}

.card2:hover> .card-wraper p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}
.container3{
    background-color: #ffffff;
    margin: 3 rem 0 0 0;
    height: auto;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color:#272741 ;
}
::-webkit-scrollbar-track{
    background-color: #535381;
    width: 50px;
}
.card-container3{
    
    display: flex;
    margin: 3 rem 0 0 0;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card3{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    background-image:  url('./img/TARO.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.6);
    color: #ffffff;
    cursor: pointer;
    transition: 0.5 ease-in-out;

}
.card-text3{
   width:40% ;
   letter-spacing: 1px;
   color:#000000;
   opacity: 100%;
   font-weight: bold;
}
.card-wraper3{
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
}

.card-wraper3::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid #e7e7ee;
    transition: 0.5 ease-in-out;
}
.card-wraper3 h2{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5 ease-in-out;
}
.card-wraper3 p{
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5 ease-in-out;
}
.card3:hover{
filter: unset;
}

.card3:hover> .card-wraper::before{
    height: 280px;
    width: 280px;
    opacity: 1;
}

.card3:hover> .card-wraper p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}
.container4{
    background-color: #ffffff;
    margin: 3 rem 0 0 0;
    height: auto;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color:#272741 ;
}
::-webkit-scrollbar-track{
    background-color: #535381;
    width: 50px;
}
.card-container4{
    
    display: flex;
    margin: 3 rem 0 0 0;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card4{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    background-image:  url('./img/H.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.6);
    color: #ffffff;
    cursor: pointer;
    transition: 0.5 ease-in-out;

}
.card-text4{
   width:40% ;
   letter-spacing: 1px;
   color:#000000;
   opacity: 100%;
   font-weight: bold;
}
.card-wraper4{
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
}

.card-wraper4::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid #e7e7ee;
    transition: 0.5 ease-in-out;
}
.card-wraper4 h2{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5 ease-in-out;
}
.card-wraper4 p{
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5 ease-in-out;
}
.card4:hover{
filter: unset;
}

.card4:hover> .card-wraper::before{
    height: 280px;
    width: 280px;
    opacity: 1;
}

.card4:hover> .card-wraper p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}
